.App {
  text-align: center;
  background-color: #477148;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
}

.horizontal {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-content: space-around;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto;
}